.followersPage-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.followers-page {
    width: 100vw;
    display: grid;
    margin-top: 50px;
    overflow-y: auto;
    padding: 20px;
  }

  
  .followers-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 70px 10px;
    margin-top: 20px;
  }
  
  .follower-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .follower-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .follower-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
  }
  